src/main/resources/PHDIWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetQueryPHDIStoreInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phdiUser" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="phdiCurrentDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="signMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQueryPHDIStoreInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetQueryPHDIStoreInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReceivingResults">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReceivingResultsResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetQueryPHDIStoreInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetQueryPHDIStoreInfo" />
  </wsdl:message>
  <wsdl:message name="GetQueryPHDIStoreInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetQueryPHDIStoreInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetReceivingResultsSoapIn">
    <wsdl:part name="parameters" element="tns:GetReceivingResults" />
  </wsdl:message>
  <wsdl:message name="GetReceivingResultsSoapOut">
    <wsdl:part name="parameters" element="tns:GetReceivingResultsResponse" />
  </wsdl:message>
  <wsdl:portType name="PHDIWebServiceSoap">
    <wsdl:operation name="GetQueryPHDIStoreInfo">
      <wsdl:input message="tns:GetQueryPHDIStoreInfoSoapIn" />
      <wsdl:output message="tns:GetQueryPHDIStoreInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReceivingResults">
      <wsdl:input message="tns:GetReceivingResultsSoapIn" />
      <wsdl:output message="tns:GetReceivingResultsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PHDIWebServiceSoap" type="tns:PHDIWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetQueryPHDIStoreInfo">
      <soap:operation soapAction="http://tempuri.org/GetQueryPHDIStoreInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceivingResults">
      <soap:operation soapAction="http://tempuri.org/GetReceivingResults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PHDIWebServiceSoap12" type="tns:PHDIWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetQueryPHDIStoreInfo">
      <soap12:operation soapAction="http://tempuri.org/GetQueryPHDIStoreInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceivingResults">
      <soap12:operation soapAction="http://tempuri.org/GetReceivingResults" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PHDIWebService">
    <wsdl:port name="PHDIWebServiceSoap" binding="tns:PHDIWebServiceSoap">
      <soap:address location="http://devftp.xxx.com/bohservice/PHDIWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="PHDIWebServiceSoap12" binding="tns:PHDIWebServiceSoap12">
      <soap12:address location="http://devftp.xxx.com/bohservice/PHDIWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>